
.navbar {
    display: flex;
    justify-content: space-between;
  
    height: 70px;
    width: 100vw;
    background-color: #185ADB;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .navbar > h1 {
    padding: 0 50px;
  }
  
  .navbar > h1:hover {
    cursor: pointer;
  }
  
  .navbar > ul {
    list-style-type: none;
    display: flex;
    margin: 10px 10px;
    padding: 0 50px;
  }
  
  .navbar > ul > li > button {
    padding: 15px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.15em;
    font-weight: 400;
    cursor: pointer;
  }
  
  .navbar > ul > li > button:hover {
    color: #efefef;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .navbar > ul > li > img {
    margin-left: 15px;
  }
  
  #login-btn {
    background-color: #0a1931;
    color: #fff;
  }
  
  #login-btn:hover {
    background-color: #efefef;
    color: #0a1931;
    text-decoration: none;
  }
  
  #write-btn {
    background-color: #0a1931;
    color: #fff;
  }
  
  #write-btn:hover {
    background-color: #efefef;
    color: #0a1931;
    text-decoration: none;
  }
  
